*{
	box-sizing: border-box;
}
body {
	background: rgba(0, 0, 0, 0.5);
}

.App{
	display: flex;
	flex-direction: column;
	place-items: center;
}
.map {
	height: 500px;
	border: solid 5px transparent;
}
h3, h1{
	margin: 0;
}

@media only screen and(min-width: 350px){
	.map{
		width: 80%;
	}
}
@media only screen and(min-width: 700px){
	.map{
		width: 60%;
	}
}


@media only screen and(min-width: 1200px){
	.map{
		width: 50%;
	}
}
